<h1>Ruby Tests : T2 - Credit Card Number Validation</h1>

<div class="row">
  <div class="span6 offset3">

    <%= form_tag "/check_validation" do %>

        <label> Credit Card Number </label>
        <%= text_field_tag "account_num" %>
        <%= submit_tag "VALIDATE CARD NUMBER" %>

    <% end %>


  </div>
</div>
